body {
    overflow: scroll;
}

.mainSection {
    width: 80%;
    /* height: 82.3vh; */
    display: flex;
    align-items: center;
    margin: 2vh 20vh;
}

#play-song {
    user-select: all;
    color: red;
}